#barChart div {
  display: inline-block;
  background: #4285f4;
  width: 20px;
  margin-right: 3px;
}

#ContributionChart div {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 3px;
}
