#目录+ul::-webkit-scrollbar {
    width: 0;
}

#目录+ul {
    @apply sm:block sm:fixed sm:right-0 sm:top-0 sm:-z-10 sm:opacity-80 sm:shadow-twe-inner;

    @media screen and (min-width: 640px) {
        width: calc(80vw - 48rem - 0.75rem);
        min-width: 300px;
        padding-left: 0em!important;
        overflow-y: auto;
        max-height: 100vh;
    }
}


body:has(footer.active) #目录+ul {
    height: calc(100vh - 5rem);
}


#目录.active+ul {
    @apply sm:top-[8rem];
    @media screen and (min-width: 640px) {
        max-height: calc(100vh - 7rem);
    }
}

#目录+ul,
#目录+ul ul {
    list-style-type: none;
}


body:has(.contentbox):has(#目录+ul) {
    @apply mr-0;
    @media screen and (min-width: 640px) {
        margin-right: 300px;
        max-width: calc(100% - 80vw + 48rem + 0.75rem);
    }
}



body:has(.contentbox):has(#目录+ul) .nav-container,
body:has(.contentbox):has(#目录+ul) header {
    @media screen and (min-width: 640px) {
        max-width: calc(100vw - 0.75rem);
        width: calc(100vw - 0.75rem);
        z-index: 9999;
    }
}

body:has(.contentbox):has(#目录+ul) footer {
    @media screen and (min-width: 640px) {
        max-width: 80vw;
        margin-left: calc(10vw - 1.5rem);
        width: 80vw;
    }
}

body:has(.contentbox):has(#目录+ul) article {
    padding-bottom: 0rem;
}

#目录+ul a:not(.active) {
    @media screen and (min-width: 640px) {
        color: #899 !important;
        cursor: pointer;
    }
}

:root {
    scroll-behavior: smooth;
}