---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, ...props } = Astro.props;
---

<a
    href={href}
    {...props}
    class="text-cyan-400 bg-[length:0%_1px,_100%] hover:bg-[length:100%_1px,_100%] bg-left-bottom bg-gradient-to-r from-cyan-300 to-blue-500 no-underline bg-no-repeat transition-[background-size] duration-500 ease-in-out"
>
    <slot />
</a>