---
import Footer from "@components/astro/UI/Footer.astro";
import Layout from "@layouts/Layout.astro";
import { SITE } from "@config";
import FantasticCard from "@layouts/FantasticCard.astro";
const fantasticList = [
  {
    name: "editor",
    describtion: "编辑器",
    url: "editor",
  },
  {
    name: "lock",
    describtion: "锁屏",
    url: "lock",
  },
  {
    name: "news",
    describtion: "news template",
    url: "news",
  },
  {
    name: "pureSwipper",
    describtion: "纯css动画swipper",
    url: "pureSwipper",
  },
  {
    name: "music",
    describtion: "音乐",
    url: "music",
  },
  {
    name: "swipper",
    describtion: "新概念轮播图",
    url: "swipper",
  },
  {
    name: "jobSearch",
    describtion: "多条件检索模版(招聘)",
    url: "jobSearch",
  },
];
---

<Layout activeNav="fantastic" title={`Fantastic | ${SITE.title}`}>
  <div class="grid grid-cols-2  md:grid-cols-3 lg:grid-cols-4 gap-4 p-4">
    {
      fantasticList.map((item, index) => (
        <FantasticCard
          name={item.name}
          url={"/fantastic/" + item.url}
          describtion={item.describtion}
          index={index}
        />
      ))
    }
  </div>

  <Footer />
</Layout>
