---
import Link from "@components/Link.astro";
import type { MarkdownHeading } from "astro";

export type Heading = MarkdownHeading & { subheadings: Heading[] };
type Props = { heading: Heading };
const { heading } = Astro.props;
---

<li class={`${heading.depth === 3 ? "ml-6" : ""} text-lg`}>
    <Link href={`#${heading.slug}`} class="gradient-underline">
        {heading.text}
    </Link>
    {
        heading.subheadings.length > 0 && (
            <ul class="mt-2 space-y-2">
                {heading.subheadings.map(subheading => (
                    <Astro.self heading={subheading} />
                ))}
            </ul>
        )
    }
</li>
<style></style>
