---
import { SITE } from "@config";
import Hr from "./Hr.astro";
import LinkButton from "./LinkButton.astro";

export interface Props {
  activeNav?: "posts" | "tags" | "about" | "search";
}

const { activeNav } = Astro.props;
import ToggleButton from '@components/react/UI/ToggleThemeButton.tsx'
---

<header>
  <a id="skip-to-content" href="#main-content">Skip to content</a>

<!-- Modal -->
<div
  data-te-modal-init
  class="fixed left-0 top-0 z-[1055] hidden h-full w-full overflow-y-auto overflow-x-hidden outline-none bg-skin-fill"
  id="exampleModalFullscreen"
  tabindex="-1"
  aria-labelledby="exampleModalFullscreenLabel"
  aria-hidden="true">
  <div
    data-te-modal-dialog-ref
    class="pointer-events-none relative w-auto translate-y-[-50px] opacity-0 transition-all duration-300 ease-in-out min-[0px]:m-0 min-[0px]:h-full min-[0px]:max-w-none">
    <div
      class="pointer-events-auto relative flex w-full flex-col rounded-md bg-white bg-clip-padding text-current shadow-lg outline-none dark:bg-neutral-600 min-[0px]:h-full min-[0px]:rounded-none min-[0px]:border-0">
      <div
        class="flex flex-shrink-0 items-center justify-between rounded-t-md border-b-2 border-neutral-100 border-opacity-100 p-4 dark:border-opacity-50 min-[0px]:rounded-none">
        <!-- Modal title -->
        <h5
          class="text-xl font-medium leading-normal text-neutral-800 dark:text-neutral-200"
          id="exampleModalFullscreenLabel">
          我的博客：为何独钟于黑色之美
        </h5>
        <!-- Close button -->
        <button
          type="button"
          class="box-content rounded-none border-none hover:no-underline hover:opacity-75 focus:opacity-100 focus:shadow-none focus:outline-none"
          data-te-modal-dismiss
          aria-label="Close">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="h-6 w-6">
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>

      <!-- Modal body -->
      <div class="relative p-4 min-[0px]:overflow-y-auto">
        <div class="px-10 text-center leading-[2rem] fill-skin-base text-l">
          


<p>在数字化的时代，博客已成为展现思想、分享见解的重要平台。然而，随着众多博客平台风格的多样化，我却选择了一条与众不同的路——坚守黑色主题。本文将深入探讨我对这一选择的理由以及黑色主题在我的博客中所扮演的角色。</p>

<h2>黑色的哲学意蕴</h2>
<p>黑色并非简单的颜色选择，而是一种哲学和审美的表达。它象征着深度、神秘和内省，与我所追求的思想深度和独立性不谋而合。在这个充斥着五光十色的网络世界中，黑色主题为我提供了一个专注、沉思的空间，让读者更加集中注意力，深入思考。</p>

<h2>黑色的视觉冲击</h2>
<p>黑色背景的设计为内容提供了强烈的对比，使文字和图像更加突出。这种高对比度的设计不仅增强了可读性，还赋予了博客更加强烈的视觉冲击力。在这个视觉化日益重要的时代，黑色主题让我的博客在众多平台中脱颖而出，成为一个不可忽视的存在。</p>

<h2>黑色的情感共鸣</h2>
<p>黑色不仅仅是一种视觉效果，更是一种情感的表达。它能够唤起人们的情感共鸣，引导他们进入一个沉思、内省的状态。在我博客的每一个角落，黑色都如同一位悠扬的诗人，与读者建立起深厚的情感联系，使他们在阅读的过程中得到心灵的触动。</p>

<h2>结语</h2>
<p>总的来说，我的博客选择黑色主题并非出于简单的个人偏好，而是基于对深度、独立性和情感共鸣的追求。在这个信息爆炸的时代，黑色主题为我的博客赋予了独特的魅力和意义，成为我思想和情感表达的重要载体。通过与读者分享我的博客，我希望能够与他们建立起更加深厚、真挚的情感联系，共同探索人生的意义和价值。</p>
        </div>
      </div>

      <!-- Modal footer -->
      <div
        class="mt-auto flex flex-shrink-0 flex-wrap items-center justify-end rounded-b-md border-t-2 border-neutral-100 border-opacity-100 p-4 dark:border-opacity-50 min-[0px]:rounded-none">
        <button
          type="button"
          class="inline-block rounded bg-primary-100 px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-primary-700 transition duration-150 ease-in-out hover:bg-primary-accent-100 focus:bg-primary-accent-100 focus:outline-none focus:ring-0 active:bg-primary-accent-200"
          data-te-modal-dismiss>
          ok
        </button>
        <button
          type="button"
          id="theme-btn-kk"
          class="inline-block rounded bg-primary-100 px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-primary-700 transition duration-150 ease-in-out hover:bg-primary-accent-100 focus:bg-primary-accent-100 focus:outline-none focus:ring-0 active:bg-primary-accent-200"
          data-te-modal-dismiss>
          not ok
        </button>
      </div>
    </div>
  </div>
</div>
  <div class="nav-container">
    <div class="top-nav-wrap">
      <a href=`${import.meta.env.BASE_URL}/` class="logo">{SITE.title}</a>
      <nav id="nav-menu">
        <button
          class="hamburger-menu focus-outline"
          aria-label="Open Menu"
          aria-expanded="false"
          aria-controls="menu-items"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="menu-icon"
          >
            <line x1="7" y1="12" x2="21" y2="12" class="line"></line>
            <line x1="3" y1="6" x2="21" y2="6" class="line"></line>
            <line x1="12" y1="18" x2="21" y2="18" class="line"></line>
            <line x1="18" y1="6" x2="6" y2="18" class="close"></line>
            <line x1="6" y1="6" x2="18" y2="18" class="close"></line>
          </svg>
        </button>
        <ul id="menu-items" class="display-none  flex">
           
          <li>
            <a href=`${import.meta.env.BASE_URL}/posts` class={activeNav === "posts" ? "active" : ""}>
              博客
            </a>
          </li>
          <li>
            <a href=`${import.meta.env.BASE_URL}/tags` class={activeNav === "tags" ? "active" : ""}>
              标签
            </a>
          </li>
          <li>
            <LinkButton
              href="/search"
              className={`focus-outline p-3 p-1 ${
                activeNav === "search" ? "active" : ""
              }`}
              ariaLabel="search"
              title="Search"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="scale-125 scale-100"
                ><path
                  d="M19.023 16.977a35.13 35.13 0 0 1-1.367-1.384c-.372-.378-.596-.653-.596-.653l-2.8-1.337A6.962 6.962 0 0 0 16 9c0-3.859-3.14-7-7-7S2 5.141 2 9s3.14 7 7 7c1.763 0 3.37-.66 4.603-1.739l1.337 2.8s.275.224.653.596c.387.363.896.854 1.384 1.367l1.358 1.392.604.646 2.121-2.121-.646-.604c-.379-.372-.885-.866-1.391-1.36zM9 14c-2.757 0-5-2.243-5-5s2.243-5 5-5 5 2.243 5 5-2.243 5-5 5z"
                ></path>
              </svg>
            </LinkButton>
          </li>
          <li>
            {
              SITE.lightAndDarkMode && 
             <ToggleButton></ToggleButton>
            }
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <Hr />
</header>

<style>
  #skip-to-content {
    @apply absolute -top-full left-16 z-50 bg-skin-accent px-3 py-2 text-skin-inverted transition-all focus:top-4;
  }
  .nav-container {
    @apply mx-auto flex max-w-[100vw] flex-col items-center justify-between flex-row;
  }
  .top-nav-wrap {
    @apply relative flex w-full items-start justify-between p-4 items-center py-8;
  }
  .logo {
    @apply absolute py-1 text-xl font-semibold  text-2xl;
  }
  .hamburger-menu {
    @apply self-end p-2 hidden;
  }
  .hamburger-menu svg {
    @apply h-6 w-6 scale-125 fill-skin-base;
  }

  nav {
    @apply flex w-full flex-col items-end bg-skin-fill ml-2 flex-row justify-end space-x-4 py-0;
  }
  nav ul {
    @apply mt-4 grid w-44 grid-cols-2 grid-rows-4 gap-x-2 gap-y-2 ml-0 mt-0 w-auto gap-x-5 gap-y-0;
  }
  nav ul li {
    @apply col-span-2 flex items-center justify-center;
  }
  nav ul li a {
    @apply w-full px-4 py-3 text-center font-medium hover:text-skin-accent my-0 px-2 py-1;
  }
  nav ul li:nth-child(4) a {
    @apply w-auto;
  }
  nav ul li:nth-child(5),
  nav ul li:nth-child(6) {
    @apply col-span-1;
  }
  nav a.active {
    @apply underline decoration-wavy decoration-2 underline-offset-4;
  }
  nav a.active svg {
    @apply fill-skin-accent;
  }

  nav button {
    @apply p-1;
  }
  nav button svg {
    @apply h-6 w-6 fill-skin-base hover:fill-skin-accent;
  }
  #theme-btn {
    @apply p-3 p-1;
  }
  #theme-btn svg {
    @apply scale-125 hover:rotate-12 scale-100;
  }

  .menu-icon line {
    @apply transition-opacity duration-75 ease-in-out;
  }
  .menu-icon .close {
    opacity: 0;
  }
  .menu-icon.is-active .line {
    @apply opacity-0;
  }
  .menu-icon.is-active .close {
    @apply opacity-100;
  }
</style>

<script>
    
  // Toggle menu
  const menuBtn = document.querySelector(".hamburger-menu");
  const menuIcon = document.querySelector(".menu-icon");
  const menuItems = document.querySelector("#menu-items");

  menuBtn?.addEventListener("click", () => {
    const menuExpanded = menuBtn.getAttribute("aria-expanded") === "true";
    menuIcon?.classList.toggle("is-active");
    menuBtn.setAttribute("aria-expanded", menuExpanded ? "false" : "true");
    menuBtn.setAttribute(
      "aria-label",
      menuExpanded ? "Open Menu" : "Close Menu"
    );
    menuItems?.classList.toggle("display-none");
  });
</script>
